.svgIcon {
  background-image: url(~@/app/components/assets/svg.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.svgIconed {
  background-image: url(~@/app/components/assets/svged.svg);
  background-position: center;
  background-repeat: no-repeat;
}
