.playIcon {
  background-image: url(~@/app/components/base/audio-btn/assets/play.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.pauseIcon {
  background-image: url(~@/app/components/base/audio-btn/assets/pause.svg);
  background-position: center;
  background-repeat: no-repeat;
}